In [1]:
import numpy as np
import pandas as pd

In [2]:
range(0,5)

range(0, 5)

In [3]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [4]:
list(range(0,5,2))

[0, 2, 4]

In [5]:
list1 = [1,3,5,7,9]
list2 = [2,4,6,8,10]

In [6]:
new_list = []

for i in range(0,len(list1)):
    x = list1[i]*list2[i]
    new_list.append(x)
    
new_list

[2, 12, 30, 56, 90]

In [7]:
x= np.array([1,3,5,7,9])
y = np.array([2,4,6,8,10])

In [8]:
print(type(x))

<class 'numpy.ndarray'>

In [9]:
x*y

array([ 2, 12, 30, 56, 90])

In [10]:
variable = [5.8, 9,7,5]

In [11]:
print(type(variable[0]))
print(type(variable[1]))

<class 'float'>
<class 'int'>

In [12]:
new_variable= np.array([5.8, 9,7,5])

In [13]:
new_variable

array([5.8, 9. , 7. , 5. ])

In [14]:
new_variable2= np.array([5.8, 9,7,5],dtype="int")

In [15]:
new_variable2

array([5, 9, 7, 5])